/* @import-normalize; */

/* #root {
  max-width: 1400px;
  margin: 0 auto;
} */


body {
  font-family: 'PTSerif', sans-serif !important;
}

button {
  border: none;
  background-color: transparent;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  margin: 0 !important;
  padding: 0 !important;
}

@font-face {
  font-family: PTSerif;
  src: url("../public/fonts/PTSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: PTSerif;
  src: url("../public/fonts/PTSerif-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}