/* @import-normalize; */

/* #root {
  max-width: 1400px;
  margin: 0 auto;
} */


button {
  border: none;
  background-color: transparent;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  margin: 0 !important;
  padding: 0 !important;
}

@font-face {
  font-family: DINX;
  src: url("../public/fonts/DINX_Lig_0.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DINX;
  src: url("../public/fonts/DINX Bol_0.otf");
  font-weight: bold;
  font-style: normal;
}